<!-- wp:template-part {"slug":"header-en","area":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"gvb/en-losungen-hero"} /-->

<!-- wp:pattern {"slug":"gvb/en-losungen-intro"} /-->

<!-- wp:pattern {"slug":"gvb/en-losungen-branchen"} /-->

<!-- wp:pattern {"slug":"gvb/en-bedrucken-anlass"} /-->

<!-- wp:pattern {"slug":"gvb/en-losungen-branding"} /-->

<!-- wp:pattern {"slug":"gvb/en-losungen-steps"} /-->

<!-- wp:pattern {"slug":"gvb/en-contact-form"} /-->

<!-- wp:pattern {"slug":"gvb/en-faq-unsere-losungen"} /-->

<!-- wp:pattern {"slug":"gvb/en-brand-promise"} /-->

<!-- wp:template-part {"slug":"footer-en","area":"footer","tagName":"footer"} /-->
