<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"gvb/industrie-hero-sportvereine"} /-->
<!-- wp:pattern {"slug":"gvb/industrie-intro-sportvereine"} /-->
<!-- wp:pattern {"slug":"gvb/industrie-benefits-sportvereine"} /-->
<!-- wp:pattern {"slug":"gvb/cases-carousel"} /-->
<!-- wp:pattern {"slug":"gvb/logos"} /-->
<!-- wp:pattern {"slug":"gvb/industrie-branding"} /-->
<!-- wp:pattern {"slug":"gvb/contact-form"} /-->
<!-- wp:pattern {"slug":"gvb/industrie-faq-sportvereine"} /-->
<!-- wp:pattern {"slug":"gvb/brand-promise"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
