<!-- wp:template-part {"slug":"header-en","area":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"gvb/en-industrie-hero-hotel-wellness-und-spa"} /-->
<!-- wp:pattern {"slug":"gvb/en-industrie-intro-hotel-wellness-und-spa"} /-->
<!-- wp:pattern {"slug":"gvb/en-industrie-benefits-hotel-wellness-und-spa"} /-->
<!-- wp:pattern {"slug":"gvb/en-cases-carousel"} /-->
<!-- wp:pattern {"slug":"gvb/en-logos"} /-->
<!-- wp:pattern {"slug":"gvb/en-losungen-branding"} /-->
<!-- wp:pattern {"slug":"gvb/en-contact-form"} /-->
<!-- wp:pattern {"slug":"gvb/en-industrie-faq-hotel-wellness-und-spa"} /-->
<!-- wp:pattern {"slug":"gvb/en-brand-promise"} /-->
<!-- wp:template-part {"slug":"footer-en","area":"footer","tagName":"footer"} /-->
