<!-- wp:template-part {"slug":"header-en","area":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"gvb/en-hero-home"} /-->

<!-- wp:pattern {"slug":"gvb/en-intro-text"} /-->

<!-- wp:pattern {"slug":"gvb/en-cases-carousel"} /-->

<!-- wp:pattern {"slug":"gvb/en-product-cards"} /-->



<!-- wp:pattern {"slug":"gvb/en-contact-form"} /-->

<!-- wp:pattern {"slug":"gvb/en-faq-home"} /-->

<!-- wp:pattern {"slug":"gvb/en-brand-promise"} /-->

<!-- wp:template-part {"slug":"footer-en","area":"footer","tagName":"footer"} /-->
