<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"gvb/losungen-hero"} /-->

<!-- wp:pattern {"slug":"gvb/losungen-intro"} /-->

<!-- wp:pattern {"slug":"gvb/losungen-branchen"} /-->

<!-- wp:pattern {"slug":"gvb/losungen-personalisieren"} /-->

<!-- wp:pattern {"slug":"gvb/losungen-branding"} /-->

<!-- wp:pattern {"slug":"gvb/losungen-steps"} /-->

<!-- wp:pattern {"slug":"gvb/contact-form"} /-->

<!-- wp:pattern {"slug":"gvb/faq-unsere-losungen"} /-->

<!-- wp:pattern {"slug":"gvb/brand-promise"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
