<!-- wp:template-part {"slug":"header-en","area":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"gvb/en-industrie-hero-unternehmen"} /-->
<!-- wp:pattern {"slug":"gvb/en-industrie-intro-unternehmen"} /-->
<!-- wp:pattern {"slug":"gvb/en-industrie-benefits-unternehmen"} /-->
<!-- wp:pattern {"slug":"gvb/en-cases-carousel"} /-->
<!-- wp:pattern {"slug":"gvb/en-logos"} /-->
<!-- wp:pattern {"slug":"gvb/en-losungen-branding"} /-->
<!-- wp:pattern {"slug":"gvb/en-contact-form"} /-->
<!-- wp:pattern {"slug":"gvb/en-industrie-faq-unternehmen"} /-->
<!-- wp:pattern {"slug":"gvb/en-brand-promise"} /-->
<!-- wp:template-part {"slug":"footer-en","area":"footer","tagName":"footer"} /-->
